PORT=3000
MESSAGE_PREFIX=Hello
NODE_ENV=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres2
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tasks_db2
DB_SYNC=02

JWT_SECRET=change_me2
JWT_EXPIRES_IN=36002

ENV_FILE_BASE64=your_base64_encoded_env_file